.cart-li img {
  cursor: pointer;
}

.cart-li {
  position: relative;
}

.cart-div {
  z-index: 3;
  display: none;
  background: var(--white);
  box-sizing: border-box;
  position: absolute;
  animation: show-down 0.3s forwards;
  top: 3.8rem;
  right: -7.6rem;
  box-shadow: 0 1rem 1rem 0.1rem rgb(0, 0, 0, 0.5);
  padding: 1rem;
  min-width: 40ch;
  border-radius: 1rem;
}

.cart-li.active .cart-div {
  display: block;
}

.cart-title {
  display: block;

  box-sizing: border-box;
  padding: 2rem 0;
  border-bottom: 0.1rem solid var(--black);
}

.cart-content {
  box-sizing: border-box;
  min-width: 30ch;
  padding: 2rem 0;
  text-align: center;
}

.cart-item {
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 0.5rem;
}

.item-thumbnail {
  object-fit: cover;
  max-width: 44px;
}

.cart-item-price {
  grid-column: 2;
  text-align: start;
}

.delete-from-cart {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  grid-row: 1 / span 2;
  grid-column: 3;
}

.cart-item .item-thumbnail {
  grid-row: span 2;
  border-radius: 0.5rem;
}

.cart-full-price {
  color: var(--black);
  font-weight: bold;
}

.checkout {
  margin-top: 1rem;
  grid-column: 1/-1;
  text-align: center;
  padding: 1rem 4rem;
  color: var(--white) !important;
  background: var(--orange);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-quantity-symbol {
  display: none;
  position: absolute;
  font-size: 0.6rem;
  top: -0.5rem;
  right: -0.5rem;
  z-index: 3;
  background-color: var(--orange);
  border-radius: 1rem;
  color: var(--white);
  padding: 0.2rem 0.5rem;
  pointer-events: none;
}

.cart-quantity-symbol.active {
  display: block;
}

@media (max-width: 450px) {
  .cart-div {
    top: 4rem;
    right: -3.5rem;
    width: 95vw;
  }

  .cart-item span {
    text-align: left;
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0, 0);
  }
}
